.searchBox {
  width: 250px;
  height: 35px;
  border-radius: 5px;
  border-width: 1px;
  margin-right: 20px;
}

.rounded-circle {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
}
